.org {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.org li {
    padding: 0 20px;
    position: relative;
    list-style: none;
}

.org li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    
}

.ord li a:hover{
    color: navy;
}
