nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    
} 


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li {
    padding: 0 20px;
    position: relative;
    list-style: none;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    
}

#navbar li a:hover{
    color: navy;
}
